USE [master]
GO
/****** Object:  Database [QLyThuVien]    Script Date: 9/8/2025 10:31:39 AM ******/
CREATE DATABASE [QLyThuVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLyThuVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLyThuVien.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLyThuVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLyThuVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLyThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLyThuVien]
GO
/****** Object:  Table [dbo].[ChiTietPhieuMuon]    Script Date: 9/8/2025 10:31:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuMuon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maphieu] [int] NOT NULL,
	[masach] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ChiTietPhieuMuon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chitietphieutra]    Script Date: 9/8/2025 10:31:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietphieutra](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maphieutra] [int] NOT NULL,
	[masach] [varchar](50) NOT NULL,
	[phiphat] [float] NOT NULL,
	[tinhtrang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_chitietphieutra] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[docgia]    Script Date: 9/8/2025 10:31:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docgia](
	[madocgia] [int] IDENTITY(1,1) NOT NULL,
	[tendocgia] [nvarchar](50) NOT NULL,
	[sdt] [varchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[diachi] [nvarchar](100) NOT NULL,
	[gioitinh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_docgia] PRIMARY KEY CLUSTERED 
(
	[madocgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Sdt123] UNIQUE NONCLUSTERED 
(
	[sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[muonphong]    Script Date: 9/8/2025 10:31:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[muonphong](
	[maphieump] [int] IDENTITY(1,1) NOT NULL,
	[maphong] [int] NOT NULL,
	[madocgia] [int] NOT NULL,
	[tgianmuon] [datetime] NOT NULL,
	[tgiantra] [datetime] NOT NULL,
	[ghichu] [nvarchar](200) NULL,
	[trangthai] [nchar](10) NULL,
 CONSTRAINT [PK_muonphong] PRIMARY KEY CLUSTERED 
(
	[maphieump] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 9/8/2025 10:31:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[manv] [int] IDENTITY(1,1) NOT NULL,
	[tennv] [nvarchar](50) NOT NULL,
	[sdt] [varchar](50) NOT NULL,
	[ngaysinh] [date] NOT NULL,
	[quequan] [nvarchar](100) NOT NULL,
	[gioitinh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_nhanvien] PRIMARY KEY CLUSTERED 
(
	[manv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SDT] UNIQUE NONCLUSTERED 
(
	[sdt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhaxuatban]    Script Date: 9/8/2025 10:31:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhaxuatban](
	[manxb] [int] IDENTITY(1,1) NOT NULL,
	[tennxb] [nvarchar](255) NOT NULL,
	[sdt] [varchar](10) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[diachi] [nvarchar](255) NOT NULL,
	[quocgia] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_nxb] PRIMARY KEY CLUSTERED 
(
	[manxb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieumuon]    Script Date: 9/8/2025 10:31:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieumuon](
	[maphieu] [int] IDENTITY(1,1) NOT NULL,
	[madocgia] [int] NOT NULL,
	[manv] [int] NOT NULL,
	[ngaymuon] [datetime] NOT NULL,
	[ngaytradukien] [datetime] NOT NULL,
	[trangthai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_phieumuon] PRIMARY KEY CLUSTERED 
(
	[maphieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieutra]    Script Date: 9/8/2025 10:31:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieutra](
	[maphieutra] [int] IDENTITY(1,1) NOT NULL,
	[maphieu] [int] NOT NULL,
	[madocgia] [int] NOT NULL,
	[manv] [int] NOT NULL,
	[masach] [varchar](50) NOT NULL,
	[ngaymuon] [datetime] NOT NULL,
	[ngaytradukien] [datetime] NOT NULL,
	[ngaytrathucte] [datetime] NOT NULL,
	[tongphiphat] [float] NOT NULL,
	[ghichu] [nvarchar](300) NULL,
	[tinhtrang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_phieutra_1] PRIMARY KEY CLUSTERED 
(
	[maphieutra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phonghoc]    Script Date: 9/8/2025 10:31:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phonghoc](
	[maphong] [int] IDENTITY(1,1) NOT NULL,
	[tenphong] [nvarchar](50) NOT NULL,
	[mota] [nvarchar](200) NULL,
 CONSTRAINT [PK_phonghoc] PRIMARY KEY CLUSTERED 
(
	[maphong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sach]    Script Date: 9/8/2025 10:31:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sach](
	[masach] [varchar](50) NOT NULL,
	[tensach] [nvarchar](50) NOT NULL,
	[matacgia] [int] NOT NULL,
	[manxb] [int] NOT NULL,
	[matheloai] [int] NOT NULL,
	[namxb] [int] NULL,
	[sotrang] [int] NULL,
	[soluong] [int] NOT NULL,
	[anh] [varbinary](max) NULL,
 CONSTRAINT [PK_sach] PRIMARY KEY CLUSTERED 
(
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sukien]    Script Date: 9/8/2025 10:31:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sukien](
	[masukien] [int] IDENTITY(1,1) NOT NULL,
	[tensukien] [nvarchar](50) NOT NULL,
	[manxb] [int] NOT NULL,
	[tgiantochuc] [datetime] NOT NULL,
	[tgianketthuc] [datetime] NOT NULL,
	[mota] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_sukien] PRIMARY KEY CLUSTERED 
(
	[masukien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tacgia]    Script Date: 9/8/2025 10:31:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tacgia](
	[matacgia] [int] IDENTITY(1,1) NOT NULL,
	[tentacgia] [nvarchar](255) NOT NULL,
	[namsinh] [int] NULL,
	[quequan] [nvarchar](255) NULL,
	[mota] [nvarchar](1000) NULL,
	[sdt] [nvarchar](10) NULL,
	[email] [nvarchar](255) NULL,
	[quocgia] [nvarchar](255) NULL,
 CONSTRAINT [PK_tacgia] PRIMARY KEY CLUSTERED 
(
	[matacgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taikhoan]    Script Date: 9/8/2025 10:31:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taikhoan](
	[matk] [int] IDENTITY(1,1) NOT NULL,
	[manv] [int] NOT NULL,
	[tendangnhap] [nvarchar](50) NOT NULL,
	[matkhau] [nvarchar](50) NOT NULL,
	[role] [nvarchar](20) NULL,
 CONSTRAINT [PK_taikhoan] PRIMARY KEY CLUSTERED 
(
	[matk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_taikhoan_tendangnhap] UNIQUE NONCLUSTERED 
(
	[tendangnhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[theloai]    Script Date: 9/8/2025 10:31:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[theloai](
	[matheloai] [int] IDENTITY(1,1) NOT NULL,
	[tentheloai] [nvarchar](255) NOT NULL,
	[mota] [nvarchar](1000) NULL,
 CONSTRAINT [PK_theloai] PRIMARY KEY CLUSTERED 
(
	[matheloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_chitietphieumuon_phieumuon] FOREIGN KEY([maphieu])
REFERENCES [dbo].[phieumuon] ([maphieu])
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon] CHECK CONSTRAINT [FK_chitietphieumuon_phieumuon]
GO
ALTER TABLE [dbo].[chitietphieutra]  WITH CHECK ADD  CONSTRAINT [FK_chitietphieutra_phieutra] FOREIGN KEY([maphieutra])
REFERENCES [dbo].[phieutra] ([maphieutra])
GO
ALTER TABLE [dbo].[chitietphieutra] CHECK CONSTRAINT [FK_chitietphieutra_phieutra]
GO
ALTER TABLE [dbo].[muonphong]  WITH CHECK ADD  CONSTRAINT [FK_muonphong_docgia] FOREIGN KEY([madocgia])
REFERENCES [dbo].[docgia] ([madocgia])
GO
ALTER TABLE [dbo].[muonphong] CHECK CONSTRAINT [FK_muonphong_docgia]
GO
ALTER TABLE [dbo].[muonphong]  WITH CHECK ADD  CONSTRAINT [FK_muonphong_phonghoc] FOREIGN KEY([maphong])
REFERENCES [dbo].[phonghoc] ([maphong])
GO
ALTER TABLE [dbo].[muonphong] CHECK CONSTRAINT [FK_muonphong_phonghoc]
GO
ALTER TABLE [dbo].[phieumuon]  WITH CHECK ADD  CONSTRAINT [FK_phieumuon_docgia] FOREIGN KEY([madocgia])
REFERENCES [dbo].[docgia] ([madocgia])
GO
ALTER TABLE [dbo].[phieumuon] CHECK CONSTRAINT [FK_phieumuon_docgia]
GO
ALTER TABLE [dbo].[phieumuon]  WITH CHECK ADD  CONSTRAINT [FK_phieumuon_nhanvien] FOREIGN KEY([manv])
REFERENCES [dbo].[nhanvien] ([manv])
GO
ALTER TABLE [dbo].[phieumuon] CHECK CONSTRAINT [FK_phieumuon_nhanvien]
GO
ALTER TABLE [dbo].[phieutra]  WITH CHECK ADD  CONSTRAINT [FK_phieutra_phieumuon] FOREIGN KEY([maphieu])
REFERENCES [dbo].[phieumuon] ([maphieu])
GO
ALTER TABLE [dbo].[phieutra] CHECK CONSTRAINT [FK_phieutra_phieumuon]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FK_sach_nhaxuatban] FOREIGN KEY([manxb])
REFERENCES [dbo].[nhaxuatban] ([manxb])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FK_sach_nhaxuatban]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FK_sach_tacgia] FOREIGN KEY([matacgia])
REFERENCES [dbo].[tacgia] ([matacgia])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FK_sach_tacgia]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FK_sach_theloai] FOREIGN KEY([matheloai])
REFERENCES [dbo].[theloai] ([matheloai])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FK_sach_theloai]
GO
ALTER TABLE [dbo].[sukien]  WITH CHECK ADD  CONSTRAINT [FK_sukien_nhaxuatban] FOREIGN KEY([manxb])
REFERENCES [dbo].[nhaxuatban] ([manxb])
GO
ALTER TABLE [dbo].[sukien] CHECK CONSTRAINT [FK_sukien_nhaxuatban]
GO
ALTER TABLE [dbo].[taikhoan]  WITH CHECK ADD  CONSTRAINT [FK_taikhoan_nhanvien] FOREIGN KEY([manv])
REFERENCES [dbo].[nhanvien] ([manv])
GO
ALTER TABLE [dbo].[taikhoan] CHECK CONSTRAINT [FK_taikhoan_nhanvien]
GO
USE [master]
GO
